// 1rem === 16px

.account-profile {
  padding: 1.5rem 1.5rem;
}

.account-profile .title {

}

.account-profile .title .card {
  display: flex;
  align-items: center;
}

.gap {
  padding-top: 1rem;
}