// 1rem === 16px

.apply-group {
  padding: 1rem 1.5rem;
}

.apply-group .edit-item {
  margin-bottom: 0.7rem;
}

.apply-group .edit-item .title {
  margin-bottom: 0.7rem;
  font-size: 1.3rem;
}

.apply-group .edit-item .content textarea {
  resize: none;
}

.gap {
  padding-top: 1rem;
}
