// 1rem === 16px

.ApplyGroup {
  padding: 1rem 1.5rem;

  .EditItem {
    margin-bottom: 0.7rem;

    .Title {
      margin-bottom: 0.7rem;
      font-size: 1.3rem;
    }

    .Content {
      textarea {
        resize: none;
      }
    }
  }
}

.Gap {
  padding-top: 1rem;
}
