// 1rem === 16px

.ChangePassword {
  padding: 1.5rem 1.5rem;

  .EditItem {
    margin-bottom: 0.7rem;

    .Title {
      margin-bottom: 0;
      font-size: 1.3rem;

      .Required {
        color: red;
      }
    }

    .Warning {
      color: red;
      margin: 0;
      margin-left: 0.1rem;
    }
  }

  .Button {
    margin-top: 1rem;
  }
}

.Gap {
  padding-top: 1rem;
}