// 1rem === 16px

.edit-group-profile {
  padding: 0.5rem 1.5rem;
}

.edit-group-profile .edit-item {
  margin-bottom: 0.7rem;
}

.edit-group-profile .edit-item .title {
  margin-bottom: 0;
  font-size: 1.3rem;
}

.edit-group-profile .edit-item .title .required {
  color: red;
}

.edit-group-profile .edit-item .description {
  margin-bottom: 0.2rem;
}

.edit-group-profile .edit-item .content {
  resize: none;
}

.gap {
  padding-top: 1rem;
}