// 1rem === 16px

.EditProfile {
  padding: 1.5rem 1.5rem;

  .EditItem {
    margin-bottom: 0.7rem;

    .Content {
      textarea {
        resize: none;
      }
    }

    .Description {
      margin-bottom: 0.2rem;
    }

    .Title {
      margin-bottom: 0;
      font-size: 1.3rem;

      .Required {
        color: red;
      }
    }
  }
}

.Gap {
  padding-top: 1rem;
}