// 1rem === 16px

.TopMargin {
  margin-top: 1rem;
}

.GroupDetails {
  padding: 0 1.5rem;
}

.GroupBar {
  * {
    margin: auto 0;
  }

  .Icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
  }

  .Name {
    display: inline-block;
    font-size: 1.25rem;
    text-overflow: ellipsis; // overflow: hidden
    margin-top: 0.25rem;
  }
}

.GroupProposal {
  .EndDivider {
    margin-top: 1rem;
    margin-bottom: 0.25rem;
  }
}

.GroupCommentSection {
  .NewComment {
    margin-bottom: -2rem;

    textarea {
      resize: none;
    }
  }

  .Comment {
    .ant-comment-inner {
      padding: 0.25rem 0;
    }
  }

  .ModifiedSince {
    margin: 0 0;
  }

  .ant-divider-inner-text {
    color: rgba(0, 0, 0, 0.45);
    font-size: 0.75rem;
  }
}

.GroupMembers {
  margin-top: 1rem;
}

.BottomMargin {
  margin-top: 2rem;
}