// 1rem === 16px

.GroupConfig {
  padding: 1.5rem 1.5rem;

  .CautionZone {
    :global(.ant-divider) {
      margin-top: 0;
      margin-bottom: 1rem;
      color: #ff4d4f;
      border-top-color: rgba(255, 77, 79, .5);
    }
  }
}
