// 1rem === 16px

.head-margin{
  margin: 0 0 0;
}

.group-bar, .group-title, .group-short-description,
.group-proposal, .group-comment-section, .group-members {
  padding: 0 1.5rem;
}

.group-bar * {
  margin: auto 0;
}

.group-bar .icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
}

.group-bar .name {
  display: inline-block;
  font-size: 1.25rem;
  text-overflow: ellipsis; // overflow: hidden
  margin-top: 0.25rem;
}

.group-proposal .start-divider {

}

.group-proposal .end-divider {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.group-comment-section .new-comment {
  margin-bottom: -2rem;
}

.group-comment-section .comment .ant-comment-inner {
  padding: 0.25rem 0;
}

.group-comment-section .ant-divider-with-text.modified-since {
  margin: 0 0;
}

.group-comment-section .ant-divider-inner-text {
  color: rgba(0, 0, 0, 0.45);
  font-size: 0.75rem;
}

.group-members {
  margin-top: 1rem;
}

.bottom-margin {
  margin: 2rem 0 0;
}