[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coloredlogs = "*"
pyjwt = "*"
pyyaml = "*"
durations = "*"
bjoern = "*"
flask = "*"
flasgger = "*"
flask-cors = "*"
webargs = "*"
pycryptodome = "*"
mysql-connector-python = "*"
sqlparse = "*"

[dev-packages]

[requires]
python_version = "3.9"
