[[source]]
url = "https://pypi.org/simple/"
verify_ssl = true
name = "pypi"

[packages]
coloredlogs = "*"
pyjwt = "*"
pyyaml = "*"
durations = "*"
bjoern = {version = "*", markers="sys_platform == 'linux'"}
flask = "*"
flasgger = "*"
flask-cors = "*"
webargs = "*"
pycryptodome = "*"

[dev-packages]

[requires]
python_version = "3"
