.AppBar {
  position: -webkit-sticky!important; /* Safari */
  position: sticky!important;
  top: 0!important;
  z-index: 999;

  .ThreeDot {
    font-size: 2rem;
    color: #000 !important;
  }

  // temp
  background-color: yellowgreen!important;
}